.url-performance-wrapper {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-explanation {
    width: 60rem;
    font-size: 1.8rem;
    text-align: center;
}

.performance-tool {
    padding-top: 4rem;
    padding-bottom: 2.5rem;
}

.button-input {
    border-top: 3px solid $highlight;
    border-left: 3px solid $highlight;
    border-bottom: 3px solid $highlight;
    border-right: 0px;
}

.urlClicks {
    color: $dark-blue;
    font-size: 5rem;
    font-weight: bold;
}

.clicks-unit {
    color: $highlight;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
