.first-fold {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.introduction {
    width: 50rem;
    font-size: 1.9rem;
    margin-bottom: 2.5rem;
    text-align: justify;
}